---
import { getCV } from "@/i18n/cv";
import Section from "../Section.astro";
import { setLanguage } from "@/i18n/translations";

const locale = Astro.currentLocale;
const { basics } = getCV(locale);
const { getTranslation: t } = setLanguage(locale);
const { summary } = basics;
---

<Section title={t("about.title")}>
  <p>
    {summary}
  </p>
</Section>
