---
import { getCV, setLanguage } from "@/i18n/config";
import Section from "../Section.astro";

const locale = Astro.currentLocale;
const { basics } = getCV(locale);
const { getTranslation: t } = setLanguage(locale);
const { summary } = basics;
---

<Section title={t("about.title")}>
  <p>
    {summary}
  </p>
</Section>
