---
import Layout from "@/layouts/Layout.astro";

import About from "@/components/sections/About.astro";
import Education from "@/components/sections/Education.astro";
import Experience from "@/components/sections/Experience.astro";
import Hero from "@/components/sections/Hero.astro";
import Projects from "@/components/sections/Projects.astro";
import Skills from "@/components/sections/Skills.astro";
import KeyboardManager from "@/components/KeyboardManager.astro";

import { setLanguage } from "@/i18n/translations";
import { getCV } from "@/i18n/supportedLangs";
import LangPicker from "@/i18n/LangPicker.astro";

const locale = Astro.currentLocale;
const { basics } = getCV(locale);
const { name, label } = basics;
const { getTranslation: t } = setLanguage(locale);
---

<Layout title={t("index.title", { name, label })}>
  <LangPicker />
  <main>
    <Hero />
    <About />
    <Experience />
    <Education />
    <Projects />
    <Skills />
  </main>

  <KeyboardManager />
</Layout>

<style>
  main {
    padding: 4rem;
    margin: auto;
    width: 100%;
  }

  @media (width <= 700px) {
    main {
      padding: 2rem;
    }
  }
</style>
